.ui-header {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
}

.ui-content {
	margin-top: 40px;
}

.friends_icon{
	border-radius: 3px;
	margin-bottom: 15px;
}

#event-list{
	margin-top: 10px;
}

#footer{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	z-index: 100;
}

.event-detail{
	text-decoration: none;
	margin: 0;
}

.event-detail a{
	text-decoration: none;
}

#event-brief{
	line-height: 0;
}

#description{
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background-color: #BDC0BA;

}

#description p{
	margin-left: 15px;
	text-decoration: none;
	color: black;
}

#register{
	background-color: #90B44B;
	font-weight: bold;
}


/*
* Definition of new icons
*/
.ui-icon-nearby {
	background-image: url("img/png/glyphicons_417_rss.png");

}
