.ui-header {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
}

.ui-content {
	margin: 35px 0px;
}

.friends_icon{
	border-radius: 3px;
	margin-bottom: 15px;
}

#event-list{
	margin-top: 10px;
}

.event-detail p,h3{
	margin: 8px 0px;
	line-height: 1.25em;
}

#description{
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

#description p{
	margin: 8px;
	text-decoration: none;
	color: black;
}

#friend_container{
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
}

.friend_list{
	height: 85px;
}

.friend{
	display: inline-block;
	font-size: 12px;
	vertical-align: top;
}

.img_container{
	height: 75px;
	width: 75px;
	overflow: hidden;
}

#footer{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	z-index: 100;
}

#going_button{
	font-weight: bold;
	width: 100%;
}

#going_popup{
	font-size: 24px;
}

fieldset.ui-corner-all.ui-controlgroup.ui-controlgroup-vertical .ui-controlgroup-label{
	width: 100%;
}

/*
* Definition of new icons
*/
.ui-icon-nearby {
	background-image: url("img/png/glyphicons_417_rss.png");

}
